body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

.container {
    width: 380px;
    margin: 0px auto;
}

h1 {
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

ul > li {
    padding: 3px 0;
}

.pull-right {
    float: right;
}

.fs12 {
    font-size: 12px;
    font-weight: normal;
}

input[type=text] {
    width: 200px;
    padding: 5px;
}

input[type=submit] {
    width: 100px;
}

textarea {
    padding: 5px;
    width: 350px;

}

.hidden {
    display: none;
}

.flash_message {
    text-align: center;
    padding: 5px;
    color: green;
    background: lavender;
}

.error {
    font-size: 12px;
    color: tomato;
    padding: 3px 0;
    display: block;
}