<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>
  <div id="app">
      <input type="text" v-model="message">
      <ul>
        <li v-for="item(item, key) in items">{{ item.message }} <button v-on:click="deleteItem(key)">deleteItem</button></li>
      </ul>
      <button v-on:click="addItem">addItem</button>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: '',
        items: []
      },
      methods: {
        addItem: function() {
          this.items.push({message: this.message})
          this.message = ''
        },
        deleteItem: function(key) {
          Vue.delete(this.items, key)
        }
      }
    })
  </script>
</body>
</html>
