<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <title>nippo</title>
</head>
<body>
<div class="container" id="app">
  <h1 class="title">日報</h1>

  <h2 class="subtitle">
    お疲れ様です。日報は一日を振り返る大切な機会です。ゆっくりと思い出して書いてみてください。
  </h2>

  <div align="center">nippo</div>
</div>
<script src="app.js"></script>
</body>
</html>
